.header {
    border-bottom: 1px solid $gray-lighter;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;  
    justify-content: center; 
}

.logo {
    display: inline-block;
}